.palak-grids1,
.palak-grids2 {
    padding-left: 40px;
    padding-left: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.palak-grids1 img,
.palak-grids2 img {
    transition: transform 0.3s ease;
}

.palak-grids1 img:hover,
.palak-grids2 img:hover {
    transform: scale(1.05);

}

.palak-grids2 {
    padding-right: 40px;
    grid-gap: 10px;
}

.palak-grids1 {
    padding-top: 10px;
    padding-right: 30px;
    grid-gap: 20px;
}

.palak-grids2 img:nth-child(2) {
    padding-top: 70px;
}

@media screen and (max-width:452px) {
    .palak-grids2 img:nth-child(2) {
        padding-top: 20px;
    }
}

@media screen and (max-width:780px) and (min-width:1014px) {
    .palak-grids1 {
        padding-top: 160px;
    }
}

@media screen and (max-width:1280px) {

    .palak-grids1,
    .palak-grids2 {
        padding-left: 30px;
        padding-right: 30px;
    }
}